doctype html
html(lang="en", dir="ltr")
  head
    script(async,
      src="https://www.googletagmanager.com/gtag/js?id=UA-109346721-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109346721-1');

    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Tom Smith - Experienced Web Developer Resume
    meta(name="description",
      content="Experienced full stack web developer, based in the UK.")

    link(href="https://fonts.googleapis.com/css?family=" +
      "Open+Sans%7CSource+Sans+Pro",
      rel="stylesheet")
    link(rel="stylesheet", href="/css/takeontom.css")

    link(rel="apple-touch-icon", sizes="180x180",
      href="/images/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32",
      href="/images/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16",
      href="/images/favicon/favicon-16x16.png")
    link(rel="manifest", href="/images/favicon/manifest.json")
    link(rel="mask-icon", href="/images/favicon/safari-pinned-tab.svg",
      color="#ee0979")
    link(rel="shortcut icon", href="/images/favicon/favicon.ico")
    meta(name="apple-mobile-web-app-title", content="Take on Tom")
    meta(name="application-name", content="Take on Tom")
    meta(name="msapplication-config",
      content="/images/favicon/browserconfig.xml")
    meta(name="theme-color", content="#ee0979")

    script(src="/js/takeontom.js")

  body.layout-resume
    .resume
      aside.resume-sidebar
        h3 Contact details
        ul.resume-contact.resume-sidebar-list
          li.phone 07507 707 740
          li.email: a(href="mailto:hiya@takeontom.com") hiya@takeontom.com
          li.linkedin: a(href="https://uk.linkedin.com/in/takeontom") takeontom
          li.github: a(href="https://github.com/takeontom/") takeontom
          li.website: a(href="https://www.takeontom.com/") www.takeontom.com

        h3 Skills
        ul.resume-skills.resume-sidebar-list
          li.python Python3, Django, Flask, #[nobr Django-CMS]
          li.node Node.js, Express
          li.javascript JavaScript ES6, JQuery
          li.html5 HTML5, CSS, SASS, LESS

        h3 More about me
        p.
          In addition to making dozens of successful websites, I've
          advised major charities and trade groups on digital strategy,
          appeared on BBC radio a few times, rebranded a PLC, content audited
          an exemplar GDS service, been a #[em fearsome] cake judge at baking
          competitions and was a semi-pro gamer... unfortunately, before
          that sort of thing was cool.

        p For more information, take a look at my website:
        ul.resume-sidebar-list
          li.website #[a(href="https://www.takeontom.com/") www.takeontom.com]

      section.resume-main
        header.resume-header
          h1 Tom Smith
          p.subtitle Experienced Full Stack Web Developer

          p.
            UK based developer who's been making successful websites
            commercially for more than 15 years. I normally work on a contract
            basis, with a preference for working remotely.

          p.
            Reliable, flexible and a fast learner, who can jump into
            projects at any stage and slot seamlessly into a team.

        section.experience
          h2 Experience

          each item in experience
            article.experience-item
              header
                h3.position #{item.position}
                p.company-name.
                  #{item.company} #[br]
                  #[span.time-period (#{item.timeperiod})]

              ul.experience-description
                each desc in item.description
                  li #{desc}

          article.experience-item.experience-item-minor
            header
              h3 Other positions

            ul.experience-description
              li ICT Technician - Hele’s School (Apr 2005 - Dec 2006)
              li.
                Database Developer - Plymouth District Magistrates’ Court
                (Dec 2003 - March 2005)
              li Technical admin - Abtech Services (Jun 1997 - Dec 2003)
